@using Blazored.Toast
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="acerca-de">Acerca de</a>
        </div>
        
        <article class="content px-4">
            <CascadingBlazoredToasts />
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    Ha ocurrido un error.
    <a href="" class="reload">Recargar</a>
    <a class="dismiss">🗙</a>
</div>


@* @using Blazored.Toast
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>
        
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div> *@
